<h3>Listado de Héroes</h3>
<div *ngIf="deletedHero; else nothingDeleted">
  <h3>
    Último héroe borrado: <small class="text-danger">{{ deletedHero }}</small>
  </h3>
</div>
<ng-template #nothingDeleted>
  <h3>No hay héroes borrados.</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="deleteHeroFromList()"
  class="btn btn-outline-danger"
>
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let name of heroNames">{{ name }}</li>
</ul>
